if person
  p
    +high
      +x-loud
        +slow
          | #{yo()}!
          | #{person} said meow!
  if reason
    | because #{reason}
else
  p
    +interjection
      | Shucks!
    +high
      +x-loud
        | I don't know who said meow!
p
  | Did someone say meow?
